ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/MXit.Messaging.MessageElements.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.Messaging.MessageElements" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.Messaging.MessageElements" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ImageStripReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:MessageElement">
        <xs:sequence>
          <xs:element minOccurs="0" name="FrameCount" type="xs:int" />
          <xs:element minOccurs="0" name="FrameHeight" type="xs:int" />
          <xs:element minOccurs="0" name="FrameWidth" type="xs:int" />
          <xs:element minOccurs="0" name="Layer" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ImageStripReference" nillable="true" type="tns:ImageStripReference" />
  <xs:complexType name="MessageElement">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="MessageElement" nillable="true" type="tns:MessageElement" />
</xs:schema>