ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/MXit.Billing.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.Billing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.Billing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PaymentRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoolaAmount" type="xs:long" />
      <xs:element minOccurs="0" name="ProductDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentRequest" nillable="true" type="tns:PaymentRequest" />
  <xs:complexType name="PaymentResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionResult" type="tns:TransactionResult" />
      <xs:element minOccurs="0" name="TransactionResultMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VendorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentResponse" nillable="true" type="tns:PaymentResponse" />
  <xs:simpleType name="TransactionResult">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Success" />
      <xs:enumeration value="RejectedByUser" />
      <xs:enumeration value="InvalidUsernameOrPassword" />
      <xs:enumeration value="UserAccountLocked" />
      <xs:enumeration value="InsufficientFunds" />
      <xs:enumeration value="Timeout" />
      <xs:enumeration value="Logout" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="InvalidTransaction">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-2</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="SystemError">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="TransactionResult" nillable="true" type="tns:TransactionResult" />
</xs:schema>