ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/MXit.User.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.User" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.User" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="CurrentCity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentRegion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBirth" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" type="tns:GenderType" />
      <xs:element minOccurs="0" name="RegisteredCountry" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserInfo" nillable="true" type="tns:UserInfo" />
  <xs:complexType name="DeviceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Client" type="tns:ClientType" />
      <xs:element minOccurs="0" name="DisplayHeight" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayWidth" type="xs:int" />
      <xs:element minOccurs="0" name="Features" type="xs:long" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DeviceInfo" nillable="true" type="tns:DeviceInfo" />
  <xs:simpleType name="ClientType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="short" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unknown" />
      <xs:enumeration value="JavaMe" />
      <xs:enumeration value="JavaMeLite" />
      <xs:enumeration value="WindowsMobile" />
      <xs:enumeration value="IPhone" />
      <xs:enumeration value="Blackberry" />
      <xs:enumeration value="Android" />
      <xs:enumeration value="LibPurple" />
      <xs:enumeration value="Evo" />
      <xs:enumeration value="Web" />
      <xs:enumeration value="Bada" />
      <xs:enumeration value="Daxtop" />
      <xs:enumeration value="ThirdParty" />
      <xs:enumeration value="WindowsPhone7" />
      <xs:enumeration value="Wap" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ClientType" nillable="true" type="tns:ClientType" />
  <xs:simpleType name="GenderType">
    <xs:annotation>
      <xs:appinfo>
        <ActualType Name="unsignedByte" Namespace="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
      </xs:appinfo>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GenderType" nillable="true" type="tns:GenderType" />
  <xs:complexType name="Presence">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsOnline" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Presence" nillable="true" type="tns:Presence" />
</xs:schema>