ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/MXit.ExternalAppAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CommsError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CommsError" nillable="true" type="tns:CommsError" />
  <xs:simpleType name="ServerEventType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ServerIsShuttingDown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerEventType" nillable="true" type="tns:ServerEventType" />
</xs:schema>