ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/MXit.Navigation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MXit.Navigation" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MXit.Navigation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RedirectRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ContactName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Target" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TemporaryContactAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseTemporaryContact" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RedirectRequest" nillable="true" type="tns:RedirectRequest" />
</xs:schema>