ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.mxit.com/wcf.ExternalAppComms" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Comms" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSDualHttpBinding_Comms_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <cdp:CompositeDuplex xmlns:cdp="http://schemas.microsoft.com/net/2006/06/duplex" />
        <ow:OneWay xmlns:ow="http://schemas.microsoft.com/ws/2005/05/routing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_Comms_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://www.mxit.com/wcf.ExternalAppComms" location="" />
  <wsdl:types />
  <wsdl:binding name="WSDualHttpBinding_Comms" type="i0:Comms">
    <wsp:PolicyReference URI="#WSDualHttpBinding_Comms_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecommendedSdkVersion">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RecommendedSdkVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/KeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterImageStrip">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RegisterImageStrip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RedirectUser">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RedirectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestPayment">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RequestPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPayment">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConfirmPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFileReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnFileReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPresenceReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPresenceReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPaymentResponseReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPaymentResponseReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnNotificationReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnNotificationReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServerEvent">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnServerEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_Comms" type="i0:Comms">
    <wsp:PolicyReference URI="#NetTcpBinding_Comms_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RecommendedSdkVersion">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RecommendedSdkVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Connect">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Connect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsOnline">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/IsOnline" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="KeepAlive">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/KeepAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SendMessage">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/SendMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RegisterImageStrip">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RegisterImageStrip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RedirectUser">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RedirectUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RequestPayment">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/RequestPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmPayment">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConfirmPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CommsErrorFault">
        <soap12:fault use="literal" name="CommsErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OnMessageReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnMessageReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnFileReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnFileReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPresenceReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPresenceReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnPaymentResponseReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPaymentResponseReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnNotificationReceived">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnNotificationReceived" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OnServerEvent">
      <soap12:operation soapAction="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnServerEvent" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comms">
    <wsdl:port name="WSDualHttpBinding_Comms" binding="tns:WSDualHttpBinding_Comms">
      <soap12:address location="http://externalappapi.mxit.com:9153/ExternalAppAPI/Comms/" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://externalappapi.mxit.com:9153/ExternalAppAPI/Comms/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>externalappapi.mxit.com</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_Comms" binding="tns:NetTcpBinding_Comms">
      <soap12:address location="net.tcp://externalappapi.mxit.com:9150/ExternalAppAPI/Comms/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://externalappapi.mxit.com:9150/ExternalAppAPI/Comms/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>41.191.125.29</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>