ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/wcf.ExternalAppComms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mxit.com/wcf.ExternalAppComms" elementFormDefault="qualified" targetNamespace="http://www.mxit.com/wcf.ExternalAppComms" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.User" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Messaging" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Messaging.MessageElements" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Navigation" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Billing" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.Log" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" />
  <xs:element name="Version">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="VersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="VersionResult" nillable="true" type="q1:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendedSdkVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecommendedSdkVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="RecommendedSdkVersionResult" nillable="true" type="q2:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalAppName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalAppPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/MXit" minOccurs="0" name="externalAppSdk" nillable="true" type="q3:SDK" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnline">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsOnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="KeepAliveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/MXit.User" minOccurs="0" name="GetUserResult" nillable="true" type="q4:UserInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/MXit.Messaging" minOccurs="0" name="message" nillable="true" type="q5:MessageToSend" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMessageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterImageStrip">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System.Drawing" minOccurs="0" name="image" nillable="true" type="q6:Bitmap" />
        <xs:element minOccurs="0" name="frameWidth" type="xs:int" />
        <xs:element minOccurs="0" name="frameHeight" type="xs:int" />
        <xs:element minOccurs="0" name="layer" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterImageStripResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/MXit.Messaging.MessageElements" minOccurs="0" name="RegisterImageStripResult" nillable="true" type="q7:ImageStripReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedirectUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/MXit.Navigation" minOccurs="0" name="redirectRequest" nillable="true" type="q8:RedirectRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RedirectUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/MXit.Billing" minOccurs="0" name="paymentRequest" nillable="true" type="q9:PaymentRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="vendorId" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="transactionReference" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmPaymentResult" nillable="true" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnMessageReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/MXit.Messaging" minOccurs="0" name="messageReceived" nillable="true" type="q10:MessageReceived" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnFileReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/MXit.Messaging" minOccurs="0" name="fileReceived" nillable="true" type="q11:FileReceived" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPresenceReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/MXit.User" minOccurs="0" name="userPresence" nillable="true" type="q12:Presence" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnPaymentResponseReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/MXit.Billing" minOccurs="0" name="paymentResponse" nillable="true" type="q13:PaymentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnNotificationReceived">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/MXit.Log" minOccurs="0" name="level" type="q14:Level" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnServerEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" minOccurs="0" name="serverEventType" type="q15:ServerEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>