ExternalAppExamples/MXit.ExternalApp/Service References/ExternalAppAPI/wcf.ExternalAppComms.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.mxit.com/wcf.ExternalAppComms" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mxit.com/wcf.ExternalAppComms" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.mxit.com/wcf.ExternalAppComms/Imports">
      <xsd:import namespace="http://www.mxit.com/wcf.ExternalAppComms" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.User" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.Messaging" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Drawing" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.Messaging.MessageElements" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.Navigation" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.Billing" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/MXit.Log" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Comms_Version_InputMessage">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="Comms_Version_OutputMessage">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_Version_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q1:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_RecommendedSdkVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:RecommendedSdkVersion" />
  </wsdl:message>
  <wsdl:message name="Comms_RecommendedSdkVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecommendedSdkVersionResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_RecommendedSdkVersion_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q2:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_Connect_InputMessage">
    <wsdl:part name="parameters" element="tns:Connect" />
  </wsdl:message>
  <wsdl:message name="Comms_Connect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_Connect_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q3:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="Comms_Disconnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_Disconnect_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q4:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_IsOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:IsOnline" />
  </wsdl:message>
  <wsdl:message name="Comms_IsOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_IsOnline_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q5:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_KeepAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:KeepAlive" />
  </wsdl:message>
  <wsdl:message name="Comms_KeepAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:KeepAliveResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_KeepAlive_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q6:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="Comms_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_GetUser_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q7:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_SendMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:SendMessage" />
  </wsdl:message>
  <wsdl:message name="Comms_SendMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendMessageResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_SendMessage_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q8:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_RegisterImageStrip_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterImageStrip" />
  </wsdl:message>
  <wsdl:message name="Comms_RegisterImageStrip_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterImageStripResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_RegisterImageStrip_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q9:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_RedirectUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RedirectUser" />
  </wsdl:message>
  <wsdl:message name="Comms_RedirectUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RedirectUserResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_RedirectUser_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q10:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_RequestPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestPayment" />
  </wsdl:message>
  <wsdl:message name="Comms_RequestPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_RequestPayment_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q11:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_ConfirmPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmPayment" />
  </wsdl:message>
  <wsdl:message name="Comms_ConfirmPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="Comms_ConfirmPayment_CommsErrorFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/MXit.ExternalAppAPI" name="detail" element="q12:CommsError" />
  </wsdl:message>
  <wsdl:message name="Comms_OnMessageReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnMessageReceived" />
  </wsdl:message>
  <wsdl:message name="Comms_OnFileReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnFileReceived" />
  </wsdl:message>
  <wsdl:message name="Comms_OnPresenceReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPresenceReceived" />
  </wsdl:message>
  <wsdl:message name="Comms_OnPaymentResponseReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnPaymentResponseReceived" />
  </wsdl:message>
  <wsdl:message name="Comms_OnNotificationReceived_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnNotificationReceived" />
  </wsdl:message>
  <wsdl:message name="Comms_OnServerEvent_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:OnServerEvent" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="Comms">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Version">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/Version" message="tns:Comms_Version_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/VersionResponse" message="tns:Comms_Version_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/VersionCommsErrorFault" name="CommsErrorFault" message="tns:Comms_Version_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RecommendedSdkVersion">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RecommendedSdkVersion" message="tns:Comms_RecommendedSdkVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RecommendedSdkVersionResponse" message="tns:Comms_RecommendedSdkVersion_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RecommendedSdkVersionCommsErrorFault" name="CommsErrorFault" message="tns:Comms_RecommendedSdkVersion_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Connect">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/Connect" message="tns:Comms_Connect_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConnectResponse" message="tns:Comms_Connect_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConnectCommsErrorFault" name="CommsErrorFault" message="tns:Comms_Connect_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/Disconnect" message="tns:Comms_Disconnect_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/DisconnectResponse" message="tns:Comms_Disconnect_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/DisconnectCommsErrorFault" name="CommsErrorFault" message="tns:Comms_Disconnect_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="IsOnline">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/IsOnline" message="tns:Comms_IsOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/IsOnlineResponse" message="tns:Comms_IsOnline_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/IsOnlineCommsErrorFault" name="CommsErrorFault" message="tns:Comms_IsOnline_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="KeepAlive">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/KeepAlive" message="tns:Comms_KeepAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/KeepAliveResponse" message="tns:Comms_KeepAlive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/KeepAliveCommsErrorFault" name="CommsErrorFault" message="tns:Comms_KeepAlive_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetUser">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/GetUser" message="tns:Comms_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/GetUserResponse" message="tns:Comms_GetUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/GetUserCommsErrorFault" name="CommsErrorFault" message="tns:Comms_GetUser_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendMessage">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/SendMessage" message="tns:Comms_SendMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/SendMessageResponse" message="tns:Comms_SendMessage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/SendMessageCommsErrorFault" name="CommsErrorFault" message="tns:Comms_SendMessage_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterImageStrip">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RegisterImageStrip" message="tns:Comms_RegisterImageStrip_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RegisterImageStripResponse" message="tns:Comms_RegisterImageStrip_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RegisterImageStripCommsErrorFault" name="CommsErrorFault" message="tns:Comms_RegisterImageStrip_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RedirectUser">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RedirectUser" message="tns:Comms_RedirectUser_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RedirectUserResponse" message="tns:Comms_RedirectUser_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RedirectUserCommsErrorFault" name="CommsErrorFault" message="tns:Comms_RedirectUser_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RequestPayment">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RequestPayment" message="tns:Comms_RequestPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RequestPaymentResponse" message="tns:Comms_RequestPayment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/RequestPaymentCommsErrorFault" name="CommsErrorFault" message="tns:Comms_RequestPayment_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ConfirmPayment">
      <wsdl:input wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConfirmPayment" message="tns:Comms_ConfirmPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConfirmPaymentResponse" message="tns:Comms_ConfirmPayment_OutputMessage" />
      <wsdl:fault wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/ConfirmPaymentCommsErrorFault" name="CommsErrorFault" message="tns:Comms_ConfirmPayment_CommsErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnMessageReceived">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnMessageReceived" message="tns:Comms_OnMessageReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnFileReceived">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnFileReceived" message="tns:Comms_OnFileReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnPresenceReceived">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPresenceReceived" message="tns:Comms_OnPresenceReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnPaymentResponseReceived">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnPaymentResponseReceived" message="tns:Comms_OnPaymentResponseReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnNotificationReceived">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnNotificationReceived" message="tns:Comms_OnNotificationReceived_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OnServerEvent">
      <wsdl:output wsaw:Action="http://www.mxit.com/wcf.ExternalAppComms/Comms/OnServerEvent" message="tns:Comms_OnServerEvent_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>